@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');


/* <weight>: Use a value from 100 to 900 */

/*
  font-family: "Kumbh Sans", sans-serif;
  
  font-weight: <weight>;
  
*/

:root{
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 24%, 13%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
    --Prof-pic: url(./images/image-victor.jpg);
    --bg-card: url(./images/bg-pattern-card.svg);
    --bg-top: url(./images/bg-pattern-top.svg);
    --bg-bottom: url(./images/bg-pattern-bottom.svg);
}




body{
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "YOPQ" 300;
    background-color:  var(--Dark-cyan);
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
}


/* set background */

.bg-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}

.bg-container >img{
    width: 50rem;
    position: absolute;
    
}

.bg-container > img:nth-child(1) {
    right: 50em;
    top: -15em;
}

.bg-container > img:nth-child(2) {
    right: 0em;
    top: 20em;
} 

/* finish set background */

/* Start Card */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    
    

    .card-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 25em;
        height: 28em;
        background-color: white;
        border-radius: 15px;
        overflow: hidden;
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        
        .bg-section{
            height: inherit;
            width: 100%;
            background-image: var(--bg-card);
            background-repeat: no-repeat;
            background-size: 100%;
        }

        .info-section{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: inherit;
            justify-content: space-between;
            align-items: center;

        
            .pic-section{
                width: 120px;
                height: 120px;
                background-image: var(--Prof-pic);
                background-size: 120px;
                background-repeat: no-repeat;
                border: 7px solid white;
                border-radius: 100%;
                position: absolute;
                top: 10rem;
            }

            .text-section{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                text-align: center;
                color: var(--Very-dark-desaturated-blue);
                

                .prof-info{

                    display: flex;
                    flex-direction: column;

                    h1{
                        font-size: 25px;
                        font-weight: 900;
                        margin-bottom: 5px;

                        small{
                            font-weight: 400;
                            color: var(--Dark-gray);
                        }
                    }
                    h3{
                        color: var(--Dark-gray);
                        font-weight: 400;
                        margin: 0 0 1em 0;
                    }
                }

                .account-info{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    border-top: 1px solid var(--Dark-gray);
                    padding: 0.5em;
                
                    div > h1{
                        font-size: 22px;
                        margin-bottom: 0;
                    }
                
                    div > h3{
                        font-size: 18px;
                        color: var(--Dark-gray);
                        font-weight: 400;
                        margin-top: 5px;
                    }
                }
            }
            
        }
    }
}






