@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');


:root{
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 24%, 13%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
    --Prof-pic: url(./images/image-victor.jpg);
    --bg-card: url(./images/bg-pattern-card.svg);
    --bg-top: url(./images/bg-pattern-top.svg);
    --bg-bottom: url(./images/bg-pattern-bottom.svg);
}




  body{
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "YOPQ" 300;
    background-color:  var(--Dark-cyan);
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 18px;
    text-align: center;

    background-color: hsl(185, 75%, 39%);
    background-image: var(--bg-top), var(--bg-bottom);
    background-repeat: no-repeat;
    background-size: 60%, 60%;
    background-position: top -25em left -10em, bottom -27em right -6em;
  }
  

/* Start Card */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 0 1em ;
    
    .card-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 25em;
        height: 28em;
        background-color: white;
        border-radius: 15px;
        overflow: hidden;
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        
        .bg-section{
            height: 15em;
            width: 100%;
            background-image: var(--bg-card);
            background-size: 100%;
        }

        .info-section{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 27em;
            justify-content: space-between;
            align-items: center;

        
            .pic-section{
                width: 120px;
                height: 120px;
                background-image: var(--Prof-pic);
                background-size: 120px;
                background-repeat: no-repeat;
                border: 7px solid white;
                border-radius: 100%;
                position: absolute;
                top: 25%;
            }

            .text-section{
                display: grid;
                grid-template-areas: "a"
                                    "b"
                                    "c";
                grid-template-rows: auto 8em 6em; 
                width: 100%;
                height: 100%;
                text-align: center;
                color: var(--Very-dark-desaturated-blue);
                

                .prof-info{

                    grid-area: b;
                    display: flex;
                    flex-direction: column;

                    h1{
                        font-size: 25px;
                        font-weight: 900;
                        margin-bottom: 5px;

                        small{
                            font-weight: 400;
                            color: var(--Dark-gray);
                        }
                    }
                    h3{
                        color: var(--Dark-gray);
                        font-weight: 400;
                        margin: 0 0 1em 0;
                    }
                }

                .account-info{
                    grid-area: c;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    border-top: 1px solid var(--Dark-gray);
                    padding: 0.5em;
                
                    div > h1{
                        font-size: 22px;
                        margin-bottom: 0;
                    }
                
                    div > h3{
                        font-size: 18px;
                        color: var(--Dark-gray);
                        font-weight: 400;
                        margin-top: 5px;
                    }
                }
            }
            
        }
    }
}




@media (max-width: 1230px) {
    body{
        background-position: top -20em left -10em, bottom -20em right -6em;
    }
}

@media (max-width: 1000px) {
    body{
        background-size: 70%, 70%;
        background-position: top -21em left -12em, bottom -20em right -10em;
    }
}

@media (max-width: 800px) {
    body{
        background-size: 80%, 80%;
        background-position: top -15em left -14em, bottom -19em right -12em;
    }
}

@media (max-width: 650px) {
    body{
        background-size: 90%, 90%;
        background-position: top -13em left -13em, bottom -16em right -12em;
    }
}

@media (max-width: 500px) {
    body {
        background-size: 100%, 100%;
        background-position: top -12em left -13em, bottom -14em right -12em;
    }
}


@media (max-width: 430px) {
    body {
        background-size: 115%, 115%;
        background-position: top -10em left -12em, bottom -11em right -12em;
    }
}

@media (max-width: 380px) {
    body {
        background-size: 120%, 120%;
        background-position: top -7em left -12em, bottom -9em right -12em;
    }
}


